#edit-inherit-dialog-page {
	padding: 14px;
}
#edit-inherit-dialog-body {
	height: 330px;
}
#edit-inherit-dialog-footer {
	height: 32px;
}
#edit-inherit-toggle-div {
	margin-top: 10px;
}
#edit-inherit-options-div {
	margin-top: 10px;
}
.consistency-spinner {
	display: inline-block;
	vertical-align: middle;
}
.edit-inherit-message {
	margin-top: 8px !important;
}
#edit-inherit-dialog-reload {
	display: flex;
	height: 450px;
	justify-content: center;
	align-items: center;
}
#load-spinner {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#edit-inherit-deviation {
	float: right;
}