#deviation-container {
	padding-top: 50px;
	margin: auto;
	width: 80%;
	min-height:550px;
}
.parent-title {
	display: inline-block;
	font-weight: bold;
}
.descendant-title {
	display: inline-block;
	margin-left: 20px;
}
.permission {
	display: inline-block;
	background-color: var(--ds-background-accent-blue-subtler, #cce1ff);
	text-align: center;
	border-radius: 10px;
	margin: 5px 5px 5px;
	padding-left: 10px;
   	padding-right: 10px;
}
.additional-permission {
	background-color: var(--ds-background-danger-hovered, #fac3c3);
}
.permission-remove {
	cursor: pointer;
	margin-left: 3px;
}
#load-spinner {
	text-align: center;
	margin-top: 10px;
}
#load-spinner aui-spinner {
	margin: auto;
}
.deviation-result-container {
	margin-top: 20px;
}