<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
  		<script src="//connect-cdn.atl-paas.net/all.js" type="text/javascript"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aui/9.9.2/aui/aui-prototyping.min.css" integrity="sha512-C29rLjmi+HKjl0DNhg/vTyZezOq3hmIPCBNBeV3dBaTp+bL+u18x41gOqCIQ5dhPAODNGUNoTmINFC/LX5ib4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/aui/9.9.2/aui/aui-prototyping.min.js" integrity="sha512-2so4vX/PWyuNIyi8HzcNbEMmfg24eJrQbmjm8cknqi/ARc95AyO9INvZzDvLL3lM81UsBnRazoBQZ9PSCG3CEw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script th:src="@{/js/edit-inherit-dialog.js}" type="text/javascript" defer></script>
		<script th:src="@{/js/theme.js}" type="text/javascript" defer></script>
		<script th:src="@{/js/apiV2Helper.js}" type="text/javascript"></script>
		<link rel="stylesheet" th:href="@{/css/edit-inherit-dialog.css}" media="all"/>
		<meta name="token" th:content="${atlassianConnectToken}"/>
    </head>
	
	<body style="background-color:var(--ds-surface-overlay, white)">
		<div id="edit-inherit-dialog-page">
			<h2 th:text="#{edit-inherit-cloud.dialog.title}"></h2>
			<div th:if="${licensed}" id="edit-inherit-dialog-body" th:data-page-id="${pageId}" th:data-base-url="${baseUrl}">
				<div id="load-spinner">
					<aui-spinner size="large"></aui-spinner>
				</div>
				<div id="can-inherit" style="display:none">
					<form class="aui top-label">
						<div id="edit-inherit-toggle-div">
							<aui-toggle label="editInherit" id="edit-inherit-toggle"></aui-toggle>
							<span th:text="#{edit-inherit-cloud.dialog.toggle}">Enable</span>
						</div>
						<div id="edit-inherit-options-div">
							<select class="select full-width-field" id="edit-inherit-options-select" multiple="" th:data-placeholder="#{edit-inherit-cloud.dialog.options}">
								<option value="hard" th:text="#{edit-inherit-cloud.dialog.option.hard}">hard</option>
								<option value="creator" th:text="#{edit-inherit-cloud.dialog.option.creator}">creator</option>
								<option value="delta" th:text="#{edit-inherit-cloud.dialog.option.delta}">delta</option>
								<option value="delay" th:text="#{edit-inherit-cloud.dialog.option.delay}">delay</option>
							</select>
						</div>
					</form>
					<div id="edit-inherit-hints">
						<div id="message-running" class="aui-message aui-message-info edit-inherit-message" style="display:none">
						    <p th:text="#{edit-inherit-cloud.dialog.running}"></p>
						</div>
						<div id="message-covered" class="aui-message aui-message-info edit-inherit-message" style="display:none">
						    <p>[[#{edit-inherit-cloud.dialog.covered}]] <button class="aui-button aui-button-link" id="covered-link">[[#{edit-inherit-cloud.dialog.covered.linkText}]]</button>.</p>
						</div>
						<div id="checking-consistency" style="display:none">
							<span th:text="#{edit-inherit-cloud.dialog.checking}"></span>
							<aui-spinner class="consistency-spinner" size="small"></aui-spinner>
						</div>
						<div id="fixing-consistency" style="display:none">
							<span th:text="#{edit-inherit-cloud.dialog.fixing}"></span>
							<aui-spinner class="consistency-spinner" size="small"></aui-spinner>
						</div>
						<div id="message-consistency-nok" class="aui-message aui-message-warning edit-inherit-message" style="display:none">
						    <p>
						    	[[#{edit-inherit-cloud.dialog.consistency.nok.1}]] <span id="non-compliant"></span> [[#{edit-inherit-cloud.dialog.consistency.nok.2}]] 
						    </p>
						    <button id="edit-inherit-fix" type="button" class="aui-button aui-button-link">[[#{edit-inherit-cloud.dialog.consistency.nok.fix}]]</button>
						</div>
						<div id="message-consistency-ok" class="aui-message aui-message-success edit-inherit-message" style="display:none">
						    <p>
						    	[[#{edit-inherit-cloud.dialog.consistency.ok.1}]] <span id="sub-inherits"></span> [[#{edit-inherit-cloud.dialog.consistency.ok.2}]] <span id="omitted"></span> [[#{edit-inherit-cloud.dialog.consistency.ok.3}]]
						    </p>
						</div>
					</div>
				</div>
				<div id="cant-inherit" style="display:none">
					<div class="aui-message aui-message-warning edit-inherit-message">
					    <p class="title">
					    	<strong>[[#{edit-inherit-cloud.dialog.cant.title}]]</strong>
					    </p>
					    <p>[[#{edit-inherit-cloud.dialog.cant.body}]]</p>
					</div>
				</div>
			</div>
			<div th:unless="${licensed}" id="edit-inherit-dialog-body">
				<div class="aui-message aui-message-warning edit-inherit-message">
				    <p class="title">
				    	<strong>[[#{edit-inherit-cloud.dialog.license.title}]]</strong>
				    </p>
				    <p>[[#{edit-inherit-cloud.dialog.license.body}]]</p>
				</div>
			</div>
			<div id="edit-inherit-dialog-footer">
				<button id="edit-inherit-apply" class="aui-button aui-button-primary" th:text="#{edit-inherit-cloud.dialog.apply}" aria-disabled="true" disabled>Apply</button>
				<button id="edit-inherit-cancel" class="aui-button aui-button-link" th:text="#{edit-inherit-cloud.dialog.cancel}">Cancel</button>
				<button id="edit-inherit-deviation" class="aui-button aui-button-link" th:text="#{edit-inherit-cloud.dialog.deviation}">Deviation</button>
			</div>
		</div>
		<div id="edit-inherit-dialog-reload" style="display:none">
			<p th:text="#{edit-inherit-cloud.dialog.reload}"></p>
		</div>
		
		<div id="edit-inherit-messages" style="display:none">
			<div id="errorTitle">[[#{edit-inherit-cloud.dialog.error.title}]]</div>
			<div id="errorGetBody">[[#{edit-inherit-cloud.dialog.error.get.body}]]</div>
			<div id="errorSaveBody">[[#{edit-inherit-cloud.dialog.error.save.body}]]</div>
			<div id="errorStartBody">[[#{edit-inherit-cloud.dialog.error.start.body}]]</div>
		</div>
	</body>
</html>