<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aui/9.9.2/aui/aui-prototyping.min.css" integrity="sha512-C29rLjmi+HKjl0DNhg/vTyZezOq3hmIPCBNBeV3dBaTp+bL+u18x41gOqCIQ5dhPAODNGUNoTmINFC/LX5ib4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    	<link rel="stylesheet" th:href="@{/css/edit-inherit-deviation.css}" media="all"/>    	
   		<script src="//connect-cdn.atl-paas.net/all.js" type="text/javascript"></script>
   		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/aui/9.9.2/aui/aui-prototyping.min.js" integrity="sha512-2so4vX/PWyuNIyi8HzcNbEMmfg24eJrQbmjm8cknqi/ARc95AyO9INvZzDvLL3lM81UsBnRazoBQZ9PSCG3CEw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script th:src="@{/js/edit-inherit-deviation.js}" type="text/javascript" defer></script>
		<script th:src="@{/js/theme.js}" type="text/javascript" defer></script>
		<script th:src="@{/js/apiV2Helper.js}" type="text/javascript"></script>
    </head>
	
	 <body style="background-color:transparent;overflow:hidden">
	 
		<div class="ac-content">
			<div id="deviation-container" th:data-base-url="${baseUrl}">
				<div>
					<h2 th:text="#{edit-inherit-cloud.diviation.header}">Report header</h2>
					<p>
						<span th:text="#{edit-inherit-cloud.diviation.explanation1}"></span> 
						<span class="permission" th:text="#{edit-inherit-cloud.diviation.explanation2}"></span>
						<span th:text="#{edit-inherit-cloud.diviation.explanation3}"></span>
						<span class="permission additional-permission" th:text="#{edit-inherit-cloud.diviation.explanation2}"></span>
						<span th:text="#{edit-inherit-cloud.diviation.explanation4}"></span>
					<p> 
				</div>
				<div id="load-spinner">
					<aui-spinner size="large"></aui-spinner>
				</div>
				<div id="results">
				</div>
			</div>
		</div>
	
		<div style="display:none">
			<div id="errorTitle">[[#{edit-inherit-cloud.dialog.error.title}]]</div>
			<div id="errorGetDescendants">[[#{edit-inherit-cloud.deviation.error.get.descendants.body}]]</div>
			<div id="errorDelete">[[#{edit-inherit-cloud.diviation.error.delete.permission.body}]]</div>
		</div>
	</body>
		
</html>