<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aui/9.9.2/aui/aui-prototyping.min.css" integrity="sha512-C29rLjmi+HKjl0DNhg/vTyZezOq3hmIPCBNBeV3dBaTp+bL+u18x41gOqCIQ5dhPAODNGUNoTmINFC/LX5ib4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    	<link rel="stylesheet" th:href="@{/css/migration.css}" media="all"/>    	
   		<script src="//connect-cdn.atl-paas.net/all.js" type="text/javascript"></script>
   		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/aui/9.9.2/aui/aui-prototyping.min.js" integrity="sha512-2so4vX/PWyuNIyi8HzcNbEMmfg24eJrQbmjm8cknqi/ARc95AyO9INvZzDvLL3lM81UsBnRazoBQZ9PSCG3CEw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script th:src="@{/js/migration.js}" type="text/javascript" defer></script>
		<script th:src="@{/js/theme.js}" type="text/javascript" defer></script>
		<script th:src="@{/js/apiV2Helper.js}" type="text/javascript"></script>
    </head>
	
	 <body style="background-color:transparent;overflow:hidden">
		<div class="ac-content">
			<div id="migration-container">
				<h1 th:text="#{edit-inherit-cloud.migration.title}"></h1>
				<h3 th:text="#{edit-inherit-cloud.migration.control}">Control</h3>
				<form class="aui top-label">
					<div class="field-group">
						<label for="source" th:text="#{edit-inherit-cloud.migration.source.title}"></label>
						<textarea rows="20" class="textarea long-field" name="source" id="source" th:placeholder="#{edit-inherit-cloud.migration.source.placeholder}"></textarea>
						<div class="description" th:text="#{edit-inherit-cloud.migration.source.desc}"></div>
						<div class="checkbox">
	            			<input class="checkbox" type="checkbox" name="stamp-only" id="stamp-only" checked>
	            			<label for="stamp-only" th:text="#{edit-hinerit-cloud.migration.stamp-only.title}"></label>
	        			</div>
					</div>
					<div id="execute-note" class="aui-message aui-message-warning">
					    <p th:text="#{edit-inherit-cloud.migration.execute.note}"></p>
					</div>
					<div>
						<button class="aui-button" type="button" id="simulate" th:text="#{edit-inherit-cloud.migration.simulate}">Simulate only</button>
						<button class="aui-button" type="button" id="migrate" th:text="#{edit-inherit-cloud.migration.execute}">Migrate</button>
					</div>
					<aui-spinner id="migration-spinner" size="medium" style="display:none"></aui-spinner>
				</form>
				<h3 th:text="#{edit-inherit-cloud.migration.results}">Results</h3>
				<div id="results"></div>
			</div>			
		</div>
	</body>	
</html>